.us-bg{
    background-image: url("/images/abscod.png");
    background-size: 50% 50% !important;
}
.europe-bg{
        background-image: url("/images/abscod.png");
    background-size: 50% 50% !important;

}
.india-bg{
            background-image: url("/images/abscod.png");
    background-size: 50% 50% !important;
}
.singapore-bg{
        background-image: url("/images/abscod.png");
    background-size: 50% 50% !important;
}
.map-bg{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-position: top center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
}

.map-bg h2{
    width: 100%;
}
.map-bg p{
    width: 100%;

}
